body{
    background-image: url('img/mulhouse.jpg');
    background-repeat: no-repeat;
    background-size: contain; 
    background-color: #BBD2E1/*rgb(184, 178, 178)*/;
    margin: 0%;
}

/* mennnuuuu */
.menu{
    margin: 0px;
    padding: 15px 0 5px 0;
    background-color: rgb(240, 24, 24);
    text-align: center;
    list-style: none; 
    box-shadow: 0px 3px 10px 8px rgba(185, 29, 29, 0.445);
    /* position: fixed;
    overflow: hidden; */
}
.menu li{
    display: inline;
    
}
.menu li a{
    text-decoration: none;
    border-right: 1px solid white;
    /* margin: 20px; */
    color: whitesmoke;
    padding: 0 30px;
    font-size: 18px;
    
}
.menu li a:hover{
    background-color: rgb(220, 20, 20);
    
}
.menu li a:active{
    text-decoration-line: underline;
}
.menu li:last-child > a{
    border-right: none;
}

.sousmenu {
    background-color: rgb(240, 24, 24);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
.sousle {
    position: relative;
    display: inline-block;
  }
  
.sousle-content {
    display: none;
    position: absolute;
    background-color: rgb(36, 36, 36);
    min-width: 160px;
    box-shadow: 0px 10px 16px 5px rgba(185, 29, 29, 0.445);
    z-index: 1;
  }
  
.sousle-content a {
    color: white;
    padding: 15px 0 5px 0;
    text-decoration: none;
    display: block;
}
  
.sousle-content a:hover {
    background-color: rgb(220, 20, 20);
}
  
.sousle:hover .sousle-content {
    display: block;
}
  
.sousle:hover .sousmenu {
    background-color: none;
}

/* div description de page */
.boite{
    border-radius: 3px;
    margin: 30px 5px 0 5px;
    padding: 3px 0 3px 0;
    background-color: rgb(240, 24, 24);
    box-shadow: 0px 10px 16px 5px rgba(185, 29, 29, 0.445);
}

.texte{
    color: white;
    margin-top: 0;
    font-size: 15px;
} 

/* logo accueil */
.img3{ 
    position: absolute;
    position: fixed;
    top: 8px;
    left: 8px;
    width: 5%;
}

/* carte membre */
.carte {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 250px;
  text-align: center;
  font-family: arial;
  margin-top: 25px;
  background-color: rgb(221, 221, 221);
  margin-left: 10px;
}

.img6 {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.nom{
    background-color: rgb(221, 221, 221);
}
.contnaire{
    display: flex;
    justify-content: center;
}


/* description qui descent de l'image */
.cont {
    position: relative;
    width: 100%;
}
  
.igm7 {
    display: block;
    width: 100%;
    height: auto;
}
  
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(0, 0, 0);
}
  
.cont:hover .overlay {
    opacity: 1;
  }
  
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
h1.a{
    justify-content: center;
    text-align: center;
}
.video{
    display: flex;
    justify-content: center;
}